.qing-sortable [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

.qing-sortable-helper {
  position: absolute !important;
  top: -200%;
  left: -200%;
}

.qing-sortable-hide {
  position: fixed !important;
  top: 0;
  left: 200%;
}
